.title {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: -1px 0 #6b92c8, 0 1px #6b92c8, 1px 0 #6b92c8, 0 -1px #6b92c8;
    color: #6b92c8;
    width: 100%;
    margin: 0% auto 0 auto;
    text-align: center;
    top: 20px;
}

.answer {
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 1px;
    border: 2px solid #6b92c8;
    width: 75%;
    margin-left: 5.5%;
    margin-bottom: 3%;
}