.sv_main .sv_row {
  background-color: transparent !important;
}

.sv_default_css {
  width: 40%;
  margin: 0 auto;
  height: 770px;
  overflow-x: auto;
}

.sv_custom_header {
	background-color: transparent !important;
}

.sv_main .sv_body {
	border-top: none !important;
	background-color: transparent !important;
}

.sv_main {
	background-color: transparent;
}

.sv_main input[type="button"] {
	border-radius: 4px;
    background-color: #ffffffff;
    color: #68b0ff;
    border: 1px solid #68b0ff;
}

.sv_main input[type="button"]:hover {
	cursor: pointer;
  	background-color: #e9f0ff;
}

.sv_main .sv_select_wrapper:before {
    background-color: #68b0ff;
}
.sv_main .sv_q_dropdown_control:focus, .sv_main select:focus, .sv_main .sv_q_text_root:focus {
	border: 1px solid #68b0ff !important;
}