.wrapper {
  width: 1000px;
  height: 530px;
  margin: 0 auto;
}
body {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}
.main-title {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: -1px 0 #6b92c8, 0 1px #6b92c8, 1px 0 #6b92c8, 0 -1px #6b92c8;
    color: #6b92c8;
    width: 30%;
    margin: 17% auto 0 auto;
    position: relative;
    top: 20px;
}
.search-form {
  margin: 5% auto 0 auto;
    width: 30%;
    align-content: center;
}
.search-input {
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 1px;
    border: 2px solid #6b92c8;
    width: 75%;
    margin-left: 5.5%;
    margin-bottom: 5%;
}
#submit-button {
    float: left;
    margin-top: 7%;
    margin-left: 35%;
    padding: 10px 15px 10px 15px;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #6b92c8;
    color: #f8f8f8;
}
#submit-button:hover {
  cursor: pointer;
  background-color: #88a5ce;
}
#login {
    letter-spacing: 1px;
    color: #a5a5a5;
}
#login:hover {
    cursor: pointer;
    color: grey;
    border-bottom: 1px solid grey;
}
#login:active {
    font-weight: bold;
}
#error {
    float: left;
    margin-left: 9%;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 5px;
    color: crimson;
    display: none;
}

.login-wrapper {
    margin-top: 25%;
    text-align: center;
}
