.create-account {
	margin-top: 15%;
    text-align: center;
    letter-spacing: 1px;
    color: #68b0ff;
    font-weight: bold;
    width: 98%;
}

.register-button {
	margin-left: 40%;
    border-radius: 5px;
    padding: 8px 15px;
    letter-spacing: 2px;
    color: #68b0ff;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: 1px solid;
}

.register-button:hover {
	background-color: #e9f0ff;
}
.moto {
    margin: 2% -6% -1% 0;
    text-align: center;
    letter-spacing: 2px;
    color: grey;
    font-style: italic;
}

.register {
    margin-left: 30% !important;
    margin-top: 16% !important;
    margin-bottom: -29% !important;
}

#error-message {
    color: grey;
    text-align: center;
    width: 37.5%;
    margin-top: 0%;
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 30%;
}

#log-in-error {
    text-align: center;
    width: 93%;
    margin: 0;
    letter-spacing: 1px;
    color: crimson;
    font-size: 15px;
    display: none;
}
